<body>
  <div class="row" style="margin: 30px">
     <div class="col-lg-3">
      <form >
        <div class="form-group">
          <div class="input-group">
            <label style="margin-right: 25px">Select a Date: </label>
            <input class="form-control" placeholder="yyyy-mm-dd" name="d"
                  [(ngModel)]="model" [ngModelOptions]="{standalone: true}"
                   ngbDatepicker #d="ngbDatepicker" required/>
              <div class="input-group-addon" (click)="d.toggle()">
                <img src="img/calendar-icon.svg" aria-hidden="true" style="width: 1.2rem; height: 1rem; cursor: pointer;">
              </div>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <label style="margin-right: 10px">Select currency: </label>
            <input type="text" class="form-control"
                   [(ngModel)]="model1" [ngModelOptions]="{standalone: true}"
                   [ngbTypeahead]="search" [resultFormatter]="formatter" [inputFormatter]="formatter" />
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <label style="margin-right: 15px">Select number: </label>
            <input type="text" class="form-control"
                   [(ngModel)]="number_currency" [ngModelOptions]="{standalone: true}"/>
          </div>
        </div>
        <div class="getInfo">
          <button type="button" class="btn btn-primary" (click)="getCurrencies()" style="margin-left: 95px; width: 100px">Get Info</button>
        </div>
      </form>

    </div>
    <div class="col-lg-9">
      <h2 >Current BLR Rate: {{answer}}</h2>
    </div>
  </div>

</body>
